@{
    ViewBag.Title = "User Type Management";
}

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#jTableUType').jtable({
            title: 'User Type Master',
            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            defaultSorting: 'utype_id ASC', //Set default sorting
            actions: {
                listAction: '@Url.Action("UTypeList","Admin")',
                deleteAction: '@Url.Action("DeleteUType","Admin")',
                updateAction: '@Url.Action("UpdateUType","Admin")',
                createAction: '@Url.Action("CreateUType","Admin")'
            },
            fields: {
                utype_id: { title: 'ID', key: true, create: false, edit: false },
                utype_name: { title: 'Name', create: true, edit: true },
                active: {
                    title: 'Status', create: false, edit: true, type: 'checkbox',
                    values: { 'false': 'Inactive', 'true': 'Active' },
                    defaultValue: 'true'
                },
                update_dt: { title: 'Update', create: false, edit: false, type: 'date',displayFormat: 'dd-mm-yy' }
            }
        });
        //Load student list from server
        $('#jTableUType').jtable('load');
    });
</script>
}

<h2 class="page-header">@ViewBag.Title</h2>

<div id="jTableUType"></div>
